<div style="width: 100%; padding: 0; margin: 0; height: 100%; background-color: #2D84DB;">
    <div class="nav-holder">
        <div class="title-holder">
            <body style="padding: 0; margin: 20px 5px; float: left; color: white;"> 
                <svg height="30" viewBox="0 0 1792 1792" width="30" xmlns="http://www.w3.org/2000/svg" color= "#fff;" ><path d="M1632 1600q14 0 23 9t9 23v128q0 14-9 23t-23 9h-1472q-14 0-23-9t-9-23v-128q0-14 9-23t23-9h1472zm-1374-64q3-55 16-107t30-95 46-87 53.5-76 64.5-69.5 66-60 70.5-55 66.5-47.5 65-43q-43-28-65-43t-66.5-47.5-70.5-55-66-60-64.5-69.5-53.5-76-46-87-30-95-16-107h1276q-3 55-16 107t-30 95-46 87-53.5 76-64.5 69.5-66 60-70.5 55-66.5 47.5-65 43q43 28 65 43t66.5 47.5 70.5 55 66 60 64.5 69.5 53.5 76 46 87 30 95 16 107h-1276zm1374-1536q14 0 23 9t9 23v128q0 14-9 23t-23 9h-1472q-14 0-23-9t-9-23v-128q0-14 9-23t23-9h1472z" fill="white"/></svg>
            </body>
            <h1 class="app-title">TaskFocus</h1>
        </div>
        <div class="nav-buttons">
            <a [routerLink]="" class="nav-button" (click)="openSettingsModal()"> Settings </a>
            <a [routerLink]="" class="nav-button" (click)="openStatisticsModal()"> Statistics </a>
        </div>
    </div>

    <div class="timer-holder">
        <div class="option-holder">
            <div class="option-item" [ngClass]="{'selected-option': focus==true}">
                <a style="text-decoration: none;" (click)="focusSelected()" [routerLink]=""><h1 class="option-text">Focus</h1></a>
            </div>
            <div class="option-item" [ngClass]="{'selected-option': shortBreak==true}">
                <a style="text-decoration: none;" (click)="shortBreakSelected()" [routerLink]=""><h1 class="option-text">Short Break</h1></a>
            </div>
            <div class="option-item" [ngClass]="{'selected-option': longBreak==true}">
                <a style="text-decoration: none;" (click)="longBreakSelected()" [routerLink]=""><h1 class="option-text">Long Break</h1></a>
            </div>
        </div>
        <div class="time-section">
            <h1 class="timer-text">{{time}}</h1>
        </div>
        <div class="button-holder">
            <div class="option-button selected-option">
                <a style="text-decoration: none;" (click)="startStopPressed()" [routerLink]=""><h1 class="button-text">{{startStopText}}</h1></a>
            </div>
            <div class="option-button selected-option">
                <a style="text-decoration: none;" (click)="resetPressed()" [routerLink]=""><h1 class="button-text">Reset</h1></a>
            </div>
        </div>
    </div>
</div>