.nav-holder {
    text-align: center;
    width: 80%;
    height: 70px;
    padding: 0;
    margin: 0 10%;
    -webkit-box-shadow: 0 8px 6px -6px rgb(17, 32, 46);
    -moz-box-shadow: 0 8px 6px -6px rgb(17, 32, 46);
    box-shadow: 0 8px 6px -6px rgb(17, 32, 46);
    border-radius: 10px;
    background-color: #338DE8;
}

.title-holder {
    float: left;
    width: 45%; 
    height: auto; 
    padding: 0 2%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}

h1 {
    font-family: "Montserrat";
    color: white;
    font-weight: 700;
}

.app-title {
    margin: 0;
    padding: 20px 0;
    float: left;
    font-size: min(3vw, 25px);
    line-height: 30px;
}

.nav-buttons {
    float: right;
    width: 40%;
    padding: 0 2%;
    margin: 0;
}

.nav-button {
    height: 100%;
    margin: 0 3%;
    padding: 20px 0;
    float: right;
    font-size: min(2vw, 25px);
    line-height: 30px;
    font-family: "Montserrat";
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.timer-holder {
    text-align: center;
    width: 70%;
    padding: 0%;
    margin: 4% 15%;
    border-radius: 10px;
    background-color: #4b99e6;
}
.option-holder {
    text-align: center;
    width: 80%;
    margin: 0% 10%;
    padding: 3%;
    display: flex;
    flex-flow: row wrap;
}
.option-item {
    text-align: center;
    width: 33.3%;
    float: left;
}
.selected-option {
    background-color: #2d6caa;
    border-radius: 20px;
}
.option-text {
    font-family: "Montserrat";
    font-size: min(2vw, 40px);
    margin: 2%;
    color: white;
    text-decoration: none;
}

.time-section {
    margin: 6% 0 8% 0;
    
    text-align: center;
}
.timer-text {
    font-size: 6vw;
    text-align: center;
    letter-spacing: 5px;
}


.button-holder {
    text-align: center;
    width: 50%;
    margin: 0% 25%;
    padding-bottom: 3%;
    // padding: 3%;
    display: flex;
    flex-flow: row wrap;
}
.option-button {
    text-align: center;
    margin: 0 5%;
    width: 40%;
    float: left;
}
.button-text {
    font-family: "Montserrat";
    font-size: min(2vw, 40px);
    margin: 4% 2%;
    color: white;
    text-decoration: none;
}

.icon {
    color: white;
}